body {
	background: #282828;
	color: white;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;
}

figure {
	padding: 0;
	margin: 0;
	width: 100%;
}

img {
	width: 100%;
}

canvas {
	width: 100%;
}

video {
	width: 100%;
}

button {
	position: absolute;
	top: 1em;
	left: 1em;
	background: #ff2a50;
	border: none;
	color: white;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	border: 4px white solid;
	box-shadow: 2px 2px 4px rgba(27, 27, 27, 0.27);
	cursor: pointer;
}

button:hover {
	box-shadow: 2px 2px 4px rgba(27, 27, 27, 0.37);
}

button:active {
	box-shadow: inset 2px 2px 4px rgba(27, 27, 27, 0.27);
}
