<!doctype html>
<meta charset="utf-8">
<title>ROAD</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="flowers.css">
<link rel="shortcut icon" href="favicon.ico">
<div id="app"></div>
<script>
  window._env = {
    PEER_PORT: {{PEER_PORT}}
  }
</script>
<script src="bumble.js"></script>
